git+git://github.com/franchuterivera/ConfigSpace.git@fix_forbidden
setuptools

numpy>=1.9.0
scipy>=0.14.1

joblib
scikit-learn>=0.22.0,<0.23

dask
distributed
lockfile
pyyaml
pandas<1.0
liac-arff

pynisher>=0.4.2
pyrfr>=0.7,<0.9
git+git://github.com/franchuterivera/SMAC3.git@more_debug
git+git://github.com/franchuterivera/ConfigSpace.git@fix_forbidden
